.cart {
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    flex-wrap: wrap;
    padding: 10px;
    background-color: beige;
}

.cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cart__body {
    background-color: #fff;
}


.table {
    width: 100%;
}